$backgroundColor: #f8fffcec;
$greyColor: #404040ec;
$darkBlueColor: #104455;
$lightGreenColor: #3bd8a9;

.App {
  background-color: $backgroundColor;
}

.headerTitle {
  color: $lightGreenColor;
}

.headerSubtitle {
  color: $darkBlueColor;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $greyColor;
}

.App-link {
  color: #61dafb;
}
